name: CI

on:
  push:
    paths-ignore:
      - '*.md'
      - 'LICENSE-APACHE'
      - 'LICENSE-GPL'
    branches:
      - 'v0.*'
      - staging
      - trying
  pull_request:
    paths-ignore:
      - '*.md'
      - 'LICENSE-APACHE'
      - 'LICENSE-GPL'
    branches:
      - mbedtls-3
      - master
      - 'v0.*'
  merge_group:

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10

jobs:
  test:
    name: Test
    strategy:
      matrix:
        include:
          # - rust: stable
          #   target: x86_64-unknown-linux-gnu
          #   os: ubuntu-20.04
          - rust: stable
            target: x86_64-fortanix-unknown-sgx
            os: ubuntu-20.04
          # - rust: stable
          #   target: x86_64-pc-windows-msvc
          #   os: windows-latest
          # - rust: stable
          #   target: x86_64-pc-windows-msvc
          #   os: windows-2019
          # - rust: stable
          #   target: aarch64-unknown-linux-musl
          #   os: ubuntu-20.04
          # - rust: beta
          #   target: x86_64-unknown-linux-gnu
          #   os: ubuntu-20.04
          # - rust: nightly
          #   target: x86_64-unknown-linux-gnu
          #   os: ubuntu-20.04
          # - rust: stable
          #   target: x86_64-apple-darwin
          #   os: macos-latest

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    - name: Install qemu-user for aarch64 target
      if: matrix.target == 'aarch64-unknown-linux-musl'
      run: |
        sudo apt-get update
        sudo apt-get install -y qemu-user

    - name: Install clang-11 on windows-2019
      if: matrix.os == 'windows-2019'
      uses: KyleMayes/install-llvm-action@v1
      with:
        version: "11.0"

    - name: Cache Dependencies
      uses: Swatinem/rust-cache@988c164c3d0e93c4dbab36aaf5bbeb77425b2894
      with:
        key: ${{ matrix.rust }}

    - name: Setup Rust toolchain
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.rust }}
        targets: ${{ matrix.target }}

    - name: Install cargo-nextest
      uses: taiki-e/install-action@v2
      with:
        tool: nextest@0.9.52
        checksum: true

    - name: Run tests
      run: |
        # Set LIBCLANG_PATH for bindgen to access clang library under windows-2019
        if [ "$MATRIX_OS" == "windows-2019" ]; then
          export LIBCLANG_PATH="C:\Program Files\LLVM\bin"
          echo "$LIBCLANG_PATH"
        fi
        ./ci_tools.sh
        ./ci.sh
      env:
        RUST_VERSION: ${{ matrix.rust }}
        TARGET: ${{ matrix.target }}
        MATRIX_OS: ${{ matrix.os }}
        ZLIB_INSTALLED: ${{ matrix.target == 'x86_64-unknown-linux-gnu' && 'true' || '' }}
        AES_NI_SUPPORT: ${{ matrix.target == 'x86_64-unknown-linux-gnu' && 'true' || '' }}
      shell: bash

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt
      - name: Enforce formatting
        run: |
          cargo fmt --check -p mbedtls
          cargo fmt --check -p mbedtls-platform-support
          cargo fmt --check -p mbedtls-sys-auto

  bench:
    name: Cargo bench
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - uses: boa-dev/criterion-compare-action@v3
        name: Run criterion-compare-action
        with:
          cwd: "mbedtls"
          benchName: "cipher"
          branchName: ${{ github.base_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}

  ci-success:
    name: ci
    if: always()
    needs:
      - test
      - fmt
    runs-on: ubuntu-latest
    steps:
      - run: jq --exit-status 'all(.result == "success")' <<< '${{ toJson(needs) }}'
      - name: Done
        run: exit 0
