name: Test

on:
  push:
    branches:
      - master
      - 'v0.*'
      - staging
      - trying
  pull_request:
    branches:
      - master
      - 'v0.*'
  merge_group:

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always

jobs:
  cargo-test:
    name: cargo-test
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          - rust: stable
            target: x86_64-unknown-linux-gnu
          - rust: stable
            target: aarch64-unknown-linux-musl
          - rust: stable
            target: x86_64-fortanix-unknown-sgx
          - rust: beta
            target: x86_64-unknown-linux-gnu
          - rust: nightly
            target: x86_64-unknown-linux-gnu

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      if: matrix.target == 'aarch64-unknown-linux-musl'
      run: |
        sudo apt-get update
        sudo apt-get install -y qemu-user

    - name: Setup Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        target: ${{ matrix.target }}
        override: true

    - name: Run tests
      run: |
        ./ct.sh
      env:
        TRAVIS_RUST_VERSION: ${{ matrix.rust }}
        TARGET: ${{ matrix.target }}
        ZLIB_INSTALLED: ${{ matrix.target == 'x86_64-unknown-linux-gnu' && 'true' || '' }}
        AES_NI_SUPPORT: ${{ matrix.target == 'x86_64-unknown-linux-gnu' && 'true' || '' }}
