name: CI

on:
  push:
    branches:
      - 'v0.*'
      - staging
      - trying
  pull_request:
    branches:
      - mbedtls-3
      - main
      - 'v0.*'
  merge_group:

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10

jobs:
  test:
    name: Test
    strategy:
      matrix:
        include:
          - rust: stable
            target: x86_64-unknown-linux-gnu
            os: ubuntu-20.04
          - rust: stable
            target: x86_64-fortanix-unknown-sgx
            os: ubuntu-20.04
          - rust: stable
            target: x86_64-pc-windows-msvc
            os: windows-latest
          - rust: stable
            target: x86_64-pc-windows-msvc
            os: windows-latest
          - rust: stable
            target: x86_64-pc-windows-msvc
            os: windows-2019
          - rust: stable
            target: aarch64-unknown-linux-musl
            os: ubuntu-20.04
          - rust: beta
            target: x86_64-unknown-linux-gnu
            os: ubuntu-20.04
          - rust: nightly
            target: x86_64-unknown-linux-gnu
            os: ubuntu-20.04

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2

    - name: Install qemu-user for aarch64 target
      if: matrix.target == 'aarch64-unknown-linux-musl'
      run: |
        sudo apt-get update
        sudo apt-get install -y qemu-user

    - name: Install clang-11 on windows-2019
      if: matrix.os == 'windows-2019'
      uses: KyleMayes/install-llvm-action@v1
      with:
        version: "11.0"

    - name: Cache Dependencies
      uses: Swatinem/rust-cache@988c164c3d0e93c4dbab36aaf5bbeb77425b2894
      with:
        key: ${{ matrix.rust }}

    - name: Setup Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        target: ${{ matrix.target }}
        override: true

    - name: Run tests
      run: |
        # Set LIBCLANG_PATH for bindgen to access clang library under windows-2019
        if [ "$MATRIX_OS" == "windows-2019" ]; then
          export LIBCLANG_PATH="C:\Program Files\LLVM\bin"
          echo "$LIBCLANG_PATH"
        fi
        ./ci_tools.sh
        ./ci.sh
      env:
        TRAVIS_RUST_VERSION: ${{ matrix.rust }}
        TARGET: ${{ matrix.target }}
        MATRIX_OS: ${{ matrix.os }}
        ZLIB_INSTALLED: ${{ matrix.target == 'x86_64-unknown-linux-gnu' && 'true' || '' }}
        AES_NI_SUPPORT: ${{ matrix.target == 'x86_64-unknown-linux-gnu' && 'true' || '' }}
      shell: bash

  ci-success:
    name: ci
    if: always()
    needs:
      - test
    runs-on: ubuntu-20.04
    steps:
      - run: jq --exit-status 'all(.result == "success")' <<< '${{ toJson(needs) }}'
      - name: Done
        run: exit 0
